<?xml version="1.0" encoding="UTF-8"?>  
<Configuration status="WARN">

	<Appenders>
	
		<Console name="console" target="SYSTEM_OUT">
	      	<PatternLayout pattern="%d{yyyy-MM-dd_HH:mm:ss_SSS} %p %t [%c] %m%n"/>
	    </Console>
	
		<!-- <RollingFile name="user_service" fileName="${log4j.service.dir}/user-service.log" filePattern="${log4j.service.dir}/user-service.log.%d{yyyy-MM-dd}.log">
		    <PatternLayout>
		    	<Pattern>%d{yyyy-MM-dd_HH:mm:ss_SSS} %t %m%n</Pattern>
		    </PatternLayout>
		    <Policies>
		    	<TimeBasedTriggeringPolicy interval="1" modulate="true"/>
		    </Policies>
	    </RollingFile>
	
		<RollingFile name="mongo_exception" fileName="${log4j.service.dir}/mongo_exception.log" filePattern="${log4j.service.dir}/mongo_exception.log.%d{yyyy-MM-dd}.log">
	    	<PatternLayout>
	        	<Pattern>%d{yyyy-MM-dd_HH:mm:ss_SSS} %t [%c] %m%n</Pattern>
	      	</PatternLayout>
	      	<Policies>
	        	<TimeBasedTriggeringPolicy interval="1" modulate="true"/>
	      	</Policies>
	    </RollingFile>
	
		<RollingFile name="job" fileName="${log4j.service.dir}/job.log" filePattern="${log4j.service.dir}/job.log.%d{yyyy-MM-dd}.log">
	    	<PatternLayout>
	        	<Pattern>%d{yyyy-MM-dd_HH:mm:ss_SSS} %t [%c] %m%n</Pattern>
	      	</PatternLayout>
	      	<Policies>
	        	<TimeBasedTriggeringPolicy interval="1" modulate="true"/>
	      	</Policies>
	    </RollingFile> -->
	
	</Appenders>
	
	
	<Loggers>
	
		<!-- mybatis打印sql -->
    	<Logger name="java.sql" level="DEBUG" additivity="false">
			<AppenderRef ref="console" />
		</Logger>
		
		<Root level="INFO">
	      <AppenderRef ref="console"/>
	    </Root> 
		
	</Loggers>

</Configuration>
